<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
    content="Di CulinaryDelight, kami bangga memberikan layanan berkualitas tinggi dalam suasana yang nyaman dan ramah. Dengan dekorasi yang elegan [atau deskripsi suasana], kami menciptakan lingkungan yang sempurna untuk makan malam romantis, acara keluarga, atau pertemuan bisnis." />
  <link rel="icon" href="./favicon.svg" />
  <link rel="manifest" href="./app.webmanifest" />
  <meta name="theme-color" content="#FF6600" />
  <link rel="apple-touch-icon" href="/icons/icon-128x128.png" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
  crossorigin="anonymous"
/>

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css" />
  <title>CulinaryDelight</title>
</head>

<body>
  <!-- skip-link -->
  <a href="#content" class="skip-link">Skip to content</a>
    <!-- nav-bar comp -->
    <nav-bar></nav-bar>

    <!-- hero-content comp -->
    <hero-content class="culinary-hero"></hero-content>
  

  <!-- main content -->
  <main tabindex="0" id="content"></main>

  <!-- custom-footer comp -->
  <custom-footer></custom-footer>
</body>

</html>